<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675530468789-0ki1m1l0kt4a04lgpkketmepl13dq2dg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675530468789-0ki1m1l0kt4a04lgpkketmepl13dq2dg</string>
	<key>API_KEY</key>
	<string>AIzaSyDz8EPnCTpDONnQikTOzWTjzdTbc9niZso</string>
	<key>GCM_SENDER_ID</key>
	<string>675530468789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>smjle.com.appTodo</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-e9902</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-e9902.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675530468789:ios:c8aa7a907d36326f997dfc</string>
</dict>
</plist>